@media (max-width:1300px) and (min-width:300px) {
    header{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:960px) and (min-width:300px) {
    nav{
        font-size: 1rem;
        gap: 30px;
        margin-left: 90px;
    }
    button{
        margin-left: 20px;
        margin-top: 60px;
    }
    section{
        grid-template-columns: 1fr;
    }
}